<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>О проекте</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <form action="" method="post">
        <nav>
            <input type="submit" name="Main" value="Главная">
                <input type="submit" name="About_Us" value="О нас">
                <input type="submit" name="About_Project" value="О проекте">
        </nav>
        <p>Нам было поручено создать веб-приложение на основе DeepSort, которое будет трекать СИЗ.</p>
        <p>Для выполнения поставленной задачи сперва мы собрали датасет, разметили его, обучили в Google Colab (попутно словив несколько банов).</p>
        <p>Затем мы взяли код для DeepSort с <a href="https://github.com/mikel-brostrom/Yolov5_DeepSort_OSNet">гит репозитория</a> и на его основе начали делать веб-приложение.</p>
        <p>Написав запросы с сайта на трекинг, мы занялись выводом видео. Результат вы можете увидеть на главной странице (если видео уже обработалось).</p>
        <p>В качестве основного цвета для навигационной панели мы выбрали цвет нашего любимого университета.</p>
        rgb(42, 02, 88) <button></button>
        <p>Более подробно ознакомиться с нашим проектом вы можете из:</p>
        <pre>
            <a href="https://github.com/Tomas542/DeepSort_Gstreamer/tree/master">Нашего репозитория</a>
            Нашей презентации
            Нашей документации
        </pre>
        </form>
    </body>
</html>
