<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Главная страница</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <form action="" method="post">
            <nav>
                <input type="submit" name="Main" value="Главная">
                <input type="submit" name="About_Us" value="О нас">
                <input type="submit" name="About_Project" value="О проекте">
            </nav>
            <p>Здесь будет наше видео:</p>
            <p>
                {% if filename %}

                {% endif %}
                <video src="{{filename}}" controls></video>
            </p>

        </form>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Загрузить">
        </form>
    </body>
</html>